/* index.css */
html{width: 100%;height: 100%;min-width: 300px;min-height: 450px;}
body{background-color: #ffffff;font-size: x-large;width: 100%;height: 100%;min-width: 300px;min-height: 450px;margin: 0px;}
#icontainer{position: absolute;top: 15%;left: 38%;width: 24%;height:70%;float: left;}
#icard{position: absolute;;width: 100%;height: 100%;box-shadow: 0 0 15px rgba(0,0,0,0.1);border-radius: 10px;background-color: #ffffff;}
/* #container:hover #card {transform: rotateY( 180deg ) ;transition: transform 1s;} */
#iregistration{position: absolute;min-height: 300px;height: 100%;width: 100%;background: white;line-height: 50px;color: #03446A;text-align: center;font-size: 30px;border-radius: 10px;}
#ilogin {position: absolute;min-height: 300px;height: 100%;width: 100%;background: white;line-height: 50px;color: #03446A;text-align: center;font-size: 30px;border-radius: 10px;}
.icard_name{min-height: 60px;background-color: rgb(26, 151, 26);width: 100%;height:20%;border-top-left-radius: 10px;border-top-right-radius: 10px;align-content: center;}
.ispan_head{font-size: 36px;position: relative;top:25%;color: white;}
.icard_content{min-height: 195px;height: 70%;padding-top: 5%;;box-sizing: border-box;}
.icard_tail{min-height: 45px;height: 10%;;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;align-content: center;background-color: whitesmoke; margin-bottom: 0px;position: relative;bottom: 0;}
/* .back {background: #03446A;color: white;transform: rotateY( 180deg );} */
 
 .i_inp{width: 80%;height: 35px;align-self: center;border-radius: 5px;outline: none;border: 1px solid #cdc9ce;font-size: 12px;margin-top: 5%;color:#676568;}
 .i_inp:focus{border: 1px solid black;color: black;font-size: 14px;}
 button{outline: none;background-color: rgb(25, 189, 25);color: white;border:none;border-radius: 5px;}
 .sign_up_in_btn{width: 80%;height: 36px;border-radius: 5px;font-size: 15px;outline: none;background-color: rgb(25, 189, 25);color: white;border:none;margin-top: 7%;}
 #ispan_forgot{font-size: 14px;position: relative;float:right;right:10%;top:-0%;}
 
 .ispan_sign_up_in,span_sign_up_in{font-size: 14px;width: 100%;align-self: center;align-content: center;margin-bottom: 25%;}
 b{color: rgb(26, 151, 26);}
 b:hover{ color: rgb(7, 241, 7);}
 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  .ng-hide-add,
.ng-hide-remove {
  display: none !important;
}
 


 
/* home.css */
/* html{height: 100%;width: 100%;position: fixed;background-color: #ffffff;padding:0%;margin: 0px;}
body{height: 100%;width: 100%;padding:0%;margin: 0px;} */
nav{height: 55px;background-color: rgb(26, 151, 26);padding:0%;margin: 0px;align-content: center;top: 0%;}
#user_s{float: left;width: 30%;position: relative;left:25%;box-sizing: border-box;}
ul {list-style-type: none;margin: 0%;overflow: hidden;align-self: center;height: 100%;padding: 25px 0 0 2px;align-content: center;outline: none;}
li{float: left;height: 30px;}

li > div{height: 100%;display: block;}
#user_options{position: relative;left:44%;top:30px;height: 30px;float: left;background-color: lightseagreen;}
#user_profile{padding: 0px 5px;margin: 0 5px;vertical-align: baseline;height: 100%;align-self: baseline;}
/* #user_logout{float: right;padding: 0px 5px;margin: 0 10px;align-content: center;vertical-align: middle;height: 100%;}
#user_logout > button{vertical-align: middle;align-self: center;align-content: center;height: 80%;padding: 0 5px;margin: 0 3px;outline: 0;font-size: px;background-color: transparent;} */
.dropdown-content {display: none;position: absolute;background-color: #ffffff;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;top:30px;}
.dropdown-content a {color: black;padding: 3px 16px;text-decoration: none;display: block;}
.dropdown-content a:hover {background-color: #ddd;}
#user_options:hover .dropdown-content {display: block;}
#search{width: 100%;}
#search_key{width: 70%;height: 100%;font-size: medium;border: none;outline: none;border-radius: 5px 0 0 5px;padding: 0;margin: 0;padding-right: 5%;}
/* .close-icon{background-color: red;display: none;border:1px solid transparent;background-color: transparent;display: inline-block;vertical-align: middle;outline: 0;cursor: pointer;}
.close-icon:after {content: "X";display: block;width: 15px;height: 15px;position: absolute;background-color: #FA9595;z-index:1;right: 50px;top: 0;bottom: 0;margin: auto;padding: 2px;border-radius: 50%;text-align: center;color: white;font-weight: normal;font-size: 12px;box-shadow: 0 0 2px #E50F0F;cursor: pointer;
} */
#search_close{width:5%;height:29px;position: absolute;left:70.2%;outline: none;border: none;vertical-align: bottom;bottom: 0;background-color:burlywood;border-radius: 0px;color: black;}
#search_btn{height: 100%;border-bottom-right-radius: 5px;border-top-right-radius: 5px;left: -6px;border: none;background-color: royalblue;width:15%;outline: none;padding: 0;position: relative;bottom: 2px;}
#search_res{margin-left:2px;border-top-right-radius: 0px;border-top-left-radius: 0px;width: 380px;position: fixed;left: 25%;top:57px;height:auto;max-height: 50%;overflow: auto;font-size: medium;box-sizing: border-box;}
.search_list{width: 100%;box-sizing: border-box;padding:10px;height:50px;font-weight: bold;align-content: center;}
.search_list > span{width:50%;float: left;height:40px;}
.add_btn{margin: 0px 25% 0px 25%;float: right;width:80%;height: 25px;}
hr{border: 0.5px solid gainsboro;}

/* Chat and contact area - leftSide */
.card{box-shadow: 0 0 3px rgba(0,0,0,0.1);border-radius: 5px;background-color: #ffffff;padding:0 0 0 0%;box-sizing: border-box;}
#container{height: calc(100% - (55px));width:100%;}
.column{float: left;height: 100%;border:1px solid black;box-sizing: border-box;}
#left_container{width: 25%; padding:0px 0;}
.content{height: 100%;width:100%;box-sizing: border-box;padding: 1%;}
#left_list{height: 92%;width: 100%;box-sizing: border-box;}
.header_tail{box-shadow: 0 0px 15px rgba(0,0,0,0.1);background-color: rgba(107, 112, 107, 0.849);}
#contacts_header{width: 100%;height: 8%;margin-top: 0px;align-content: center;box-sizing: border-box;}
#profile_photo{height: 100%;width: 16%;background-color: rgb(130, 130, 219);float: left;}
#profile_photo > img{height: 100%;width: 100%;}
#contacts_header_div{width: 80%;align-self: center; align-content: center;position: relative;top:10%;height:80%;float: right;box-sizing: border-box;}
#search_list{outline: none;border: none;border-radius: 10px; width:80%;height:90%;float: left;font-size: medium;padding-top: 0px;margin-top: 0px;}
#search_contacts_close{background-color:burlywood;color: khaki;position: absolute;left:71.5%;border-radius: 0px 10px 10px 0px;height:96%;font-size: 13px;outline: none;border: none;}
#profile_settings{width:40px;text-align: center;float: right;height: 100%;font-size: 24px;}
#list_contacts{width: 100%;height: 92%;}

#chat_list{width: 100%;height: 100%;overflow-x: hidden;overflow-y:scroll;box-sizing: border-box;padding: 3% 1% 0 1%;}

#contacts_list{width: 100%;height: 100%;overflow-x: hidden;overflow-y:scroll;box-sizing: border-box;padding: 3% 1% 0 1%;}

.contact_photo{height: 100%;float: left;width:16%;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.chat_c{height: 12.5%;width: 100%;align-content: center;box-sizing: border-box;margin-bottom: 1%;}
.contact_photo > img{width:100%;height: 100%; border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
.contact_details{height: 100%;float: left;width:80%;box-sizing: border-box;padding:2%;}
.contact_details_div1{width: 100%;height: 55%;}
.contact_name{font-size: large;font-weight: bold;width:80%;float:left;}
.last_msg_time{width: 20%;min-width: 10px;float: right;text-align: right;font-size: 50%;height:50%;top:25%;position: relative;}
.contact_details_div2{width: 100%;height: 45%;}
.last_msg_content{width: 90%;font-size: medium;overflow: hidden !important; display: inline-block;white-space: nowrap;text-overflow: ellipsis;vertical-align: text-top;}
.contact_options{height: 100%;width: 3.5%;background-color: rgb(172, 167, 167);float: right;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}

#bottom_nav{align-content: center;height: 8%;}
.bottom_nav_buttons{height:100%;float: left;width: 50%;align-content:center;font-size: 25px;box-sizing: border-box;padding:3% 12.5%;color: white;}
.active {background-color: red;color:blue;}
.disabled {background: #eee;color: #aaa;}
#chats:hover{background-color: rgb(130, 130, 219)}

/* Main Chat window area - middle*/
#main_container{width:57%;overflow: hidden;}
#chat_area{height: 100%;width: 100%;}
#chatWindowBlank{width: 100%;height: 100%;background-color: darkgrey;}
#chatWindowBlank > img{width: 100%;height: 100%;}
#chat_header{height: 7%;width: 100%;box-sizing: border-box;}
#chat_mobile_backbutton{height: 100%;width: 50px;float: left;}
#chat_w_photo{height: 100%;width: 9%;max-width:65px;background-color: rgb(130, 130, 219);float: left;}
#chat_w_photo > img{height: 100%;width: 100%;}
#chat_w_name{font-size: 25px;font-weight: bolder;float: left;height: 100%;width: 71%;box-sizing: border-box;}
#chat_w_name > span{position: relative;top: 25%;left:5%;}
#chat_content{height: 83%;width: 100%;overflow: hidden;;position: relative;}
#conversation_area{height: 100%;overflow-y: auto;}
.msg_received{width:100%;display: block;overflow-y: auto;padding: 5px 10px;margin: 5px 0px;box-sizing: border-box;}
.msg_sent{width:100%;display: block;overflow-y: auto;padding: 5px 10px;margin: 5px 0px;box-sizing: border-box;}
.mT_received{max-width: 70%;float:left;text-align: left;background-color: rgb(209, 208, 208);border-radius: 3px;padding:3px 5px;}
.mT_sent{max-width: 70%;float: right;background-color: rgb(209, 208, 208);text-align: right;border-radius: 3px;padding:3px 5px;}
.msg_time {font-size: x-small;width: 100%;float:right;text-align: right;}
#chat_new{height: 10%;width: 100%;box-shadow: 0 2px 15px rgba(125, 204, 21, 0.027);padding:2% 3%;align-items: center;box-sizing: border-box;}
#chat_new > div{width: 100%;align-self: center;align-content: center;box-sizing: border-box;}
#chat_new > div > input[type="input"]{font-size: medium;float:left;padding: 0px;;width: 90%;align-self: center;height: 45px;outline: none;border:none;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#chat_new > div > button{font-size: large;padding: 0px;height:100%;width:10%;height: 45px;align-content: center;background-color: rgb(26, 151, 26);border-bottom-right-radius: 5px;border-top-right-radius: 5px;border: none;color: #fefefe;}
#chatUserDetails{height: 100%;background-color: whitesmoke;width: 30%;z-index: 2;right: 0%;top: 0%;position: absolute;padding: 0;box-sizing: border-box;}
#closeInfoCard{float: left;text-decoration: none;font-size: 36px;color: #818181;position: absolute;left:10px;}
#closeInfoCard:hover{color: black;}
#userDetails{position: relative;width: 100%;height: 86%;top: 7%;bottom: 7%;background-color: white;}
 #userDetailsContent{overflow-y:scroll;}
/*#userDetailsImage{} */
#userDetailsImage > img{height: 100%;width: 100%;padding: 10px 0;}
#userDetailsInfo{min-height: 400px;padding: 10px;}
.userDetailsInfo_div{height: 50px;padding: 7px 5px 3px 5px;border-bottom:0.5px #aaa solid;}
.userDetailsInfo_div_1{height:60%;color: black;font-size: 20px;display: block;}
.userDetailsInfo_div_2{height: 40%;color:limegreen;font-size: 16px;display: block;}
.userDetailsInfo_div{height: 50px;padding: 0 5px;}

/*   Active users list - rightSide*/
#right_container{width: 18%;}






/* Media queries css */

@media only screen and (min-width: 850px)  and (max-width: 1200px) and (min-height:675px) and (max-height:1400px){
    
    #right_container{display: none;}
    #main_container{width:70%;overflow: hidden;}
    #left_container{width: 30%; padding:0px 0;} 
}
@media only screen and (min-width: 650px)  and (max-width: 850px) and (min-height:675px) and (max-height:1400px){
    
    #right_container{display: none;}
    #main_container{width:65%;overflow: hidden;}
    #left_container{width: 35%; padding:0px 0;} 
}





@media only screen and (min-width: 650px)  and (max-width: 850px) and (min-height:675px) and (max-height:725px){
    #icontainer {position: absolute;top: 7%;left:27%;width: 46%;height: 86%;}
   
    
}

@media only screen and (min-width: 650px)  and (max-width: 850px) and (min-height:675px) and (max-height:725px){
    #icontainer {position: absolute;top: 7%;left:27%;width: 46%;height: 86%;}
   
    
}
@media only screen and (min-width: 650px)  and (max-width: 850px) and (min-height:725px) and (max-height:800px){
    #icontainer {position: absolute;top: 11%;left:27%;width: 46%;height: 78%;}
   
    
}
@media only screen and (min-width: 650px)  and (max-width: 850px) and (min-height:800px) and (max-height:950px){
    #icontainer {position: absolute;top: 15%;left:27%;width: 46%;height: 70%;}
   
    
}
@media only screen and (min-width: 650px)  and (max-width: 850px) and (min-height:950px) and (max-height:1050px){
    #icontainer {position: absolute;top: 20%;left:27%;width: 46%;height: 60%;}
    
}
@media only screen and (min-width: 650px)  and (max-width: 850px) and (min-height:1050px) and (max-height:1250px){
    #icontainer {position: absolute;top: 22%;left:25%;width: 50%;height: 56%;}
  
    
}
@media only screen and (min-width: 650px)   and (max-width: 850px) and (min-height:1250px) and (max-height:1450px){
    #icontainer {position: absolute;top: 25%;left:22%;width: 56%;height: 50%;}
    

}
@media only screen and (min-width: 650px)   and (max-width: 850px) and (min-height:1300px) and (max-height:1450px){
    #icontainer {position: absolute;top: 25%;left:22%;width: 56%;height: 50%;}
    

}
 @media only screen and (min-width: 650px)   and (max-width: 850px) and (min-height:1450px) and (max-height:1600px){
    #icontainer {position: absolute;top: 25%;left:20%;width: 60%;height: 50%;}
    

}
/*@media only screen and (min-width: 650px)   and (max-width: 850px) and (min-height:950px) and (max-height:1100px){
    #icontainer {position: absolute;top: 20%;left:7%;width: 84%;height: 60%;}
    .reg-card_content{height: 67%;padding-top: 5%;}

}
@media only screen and (min-width: 650px)   and (max-width: 850px) and (min-height:1100px) and (max-height:1350px){
    #icontainer {position: absolute;top: 25%;left:10%;width: 80%;height: 50%;}
    .reg-card_content{height: 67%;padding-top: 5%;}

}
@media only screen and (min-width: 650px)   and (max-width: 850px) and (min-height:1350px){
    #icontainer {position: absolute;top: 29%;left:5%;width: 90%;height: 42%;}
    .reg-card_content{height: 67%;padding-top: 5%;}
} */


/* width:450 to 550px */
@media only screen  and (min-width: 450px)  and (max-width: 550px) and (max-height:700px){
    #icontainer {position: absolute;top: 5%;left:5%;width: 90%;height: 90%;}
    .reg-card_content{height: 70%;padding-top: 0%;overflow: scroll;}
}

/* width : 450 */
@media only screen  and (min-width: 400px)  and (max-width: 450px) and (max-height:600px){
    #icontainer {position: absolute;top: 5%;left:5%;width: 90%;height: 90%;}
    .reg-card_content{height: 70%;padding-top: 0%;overflow: scroll;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;}
    #right_container{display: none;}
    #main_container{width: 100%;height: 100%;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}
}
@media only screen  and (min-width: 400px)  and (max-width: 450px) and (min-height:600px) and (max-height:700px){
    #icontainer {position: absolute;top: 5%;left:5%;width: 90%;height: 90%;}
    .reg-card_content{height: 70%;padding-top: 5%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;}
    #right_container{display: none;}
    #main_container{width: 100%;height: 100%;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}
}

@media only screen  and (min-width: 400px)  and (max-width: 450px) and (min-height:700px) and (max-height:825px){
    #icontainer {position: absolute;top: 10%;left:5%;width: 90%;height: 80%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;}
    #right_container{display: none;}
    #main_container{width: 100%;height: 100%;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}

}
@media only screen  and (min-width: 400px)  and (max-width: 450px) and (min-height:825px) and (max-height:950px){
    #icontainer {position: absolute;top: 15%;left:5%;width: 90%;height: 70%;}
    
}
@media only screen  and (min-width: 400px)  and (max-width: 450px) and (min-height:950px) and (max-height:1100px){
    #icontainer {position: absolute;top: 20%;left:7%;width: 84%;height: 60%;}
    

}
@media only screen  and (min-width: 400px)  and (max-width: 450px) and (min-height:1100px) and (max-height:1350px){
    #icontainer {position: absolute;top: 25%;left:10%;width: 80%;height: 50%;}
   

}
@media only screen  and (min-width: 400px)  and (max-width: 450px) and (min-height:1350px){
    #icontainer {position: absolute;top: 29%;left:5%;width: 90%;height: 42%;}
    

}

/* width : 400 */
@media only screen and (min-width:350px)  and (max-width: 400px) and (min-height:400px)  and (max-height:500px){
    #icontainer {position: absolute;top: 5%;left:5%;width: 90%;height: 90%;}
    .reg-card_content{height: 70%;padding-top: 5%;overflow: scroll;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}
}
@media only screen and (min-width:350px)  and (max-width: 400px) and (min-height:500px)  and (max-height:600px){
    #icontainer {position: absolute;top: 5%;left:5%;width: 90%;height: 90%;}
    .reg-card_content{height: 70%;padding-top: 5%;overflow: scroll;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}
}
@media only screen and (min-width:350px)  and (max-width: 400px) and (min-height:600px) and (max-height:700px){
    #icontainer {position: absolute;top: 5%;left:5%;width: 90%;height: 90%;}
    .reg-card_content{height: 70%;padding-top: 5%;overflow: scroll;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    /* #main_container{display: none;} */
    #main_container{width: 100%;height: 100%;float:right;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}
}

@media only screen and (min-width:350px) and (max-width: 400px) and (min-height:700px) and (max-height:825px){
    #icontainer {position: absolute;top: 10%;left:5%;width: 90%;height: 80%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}

}
@media only screen and (min-width:350px) and (max-width: 400px) and (min-height:825px) and (max-height:950px){
    #icontainer {position: absolute;top: 15%;left:5%;width: 90%;height: 70%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}

}
@media only screen and (min-width:350px)  and (max-width: 400px) and (min-height:950px) and (max-height:1050px){
    #icontainer {position: absolute;top: 20%;left:7%;width: 84%;height: 60%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}

}
@media only screen and (min-width:350px)  and (max-width: 400px) and (min-height:1050px) and (max-height:1350px){
    #icontainer {position: absolute;top: 25%;left:10%;width: 80%;height: 50%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}

}
@media only screen and (min-width:350px)  and (max-width: 400px) and (min-height:1350px){
    #icontainer {position: absolute;top: 30%;left:5%;width: 90%;height: 40%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (55px));}
    .chat_c{height:70px}
    #contacts_header{height: 55px;}
    #left_list{height: calc(100% - (60px));;}
    #bottom_nav{height: 60px;}

}


/* width 350 */
@media only screen  and (min-width: 330px)   and (max-width: 350px) and (min-height:450px) and (max-height:550px){
    #icontainer {position: absolute;top: 9%;left:5%;width: 90%;height: 82%;}
    .reg-card_content{height: 70%;padding-top: 0%;overflow: scroll;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;position: fixed;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (50px));}
    .chat_c{height:70px}
    #contacts_header{height: 50px;}
    #left_list{height: calc(100% - (50px));;}
    #bottom_nav{height: 50px;}
}
@media only screen  and (min-width: 330px)  and (max-width: 350px) and (min-height:550px) and (max-height:650px){
    #icontainer {position: absolute;top: 9%;left:5%;width: 90%;height: 82%;}
    .reg-card_content{height: 70%;padding-top: 5%;overflow: scroll;}

}

@media only screen  and (min-width: 330px)  and (max-width: 350px) and (min-height:650px) and (max-height:750px){
    #icontainer {position: absolute;top: 10%;left:5%;width: 90%;height: 80%;}
    

}
@media only screen  and (min-width: 330px)  and (max-width: 350px) and (min-height:750px) and (max-height:850px){
    #icontainer {position: absolute;top: 15%;left:5%;width: 90%;height: 70%;}
    

}
@media only screen  and (min-width: 330px)  and (max-width: 350px) and (min-height:850px) and (max-height:1050px){
    #icontainer {position: absolute;top: 20%;left:5%;width: 90%;height: 60%;}
    

}
@media only screen  and (min-width: 330px)  and (max-width: 350px) and (min-height:1050px) and (max-height:1350px){
    #icontainer {position: absolute;top: 25%;left:0%;width: 100%;height: 50%;}
   

}
@media only screen  and (min-width: 330px)  and (max-width: 350px) and (min-height:1350px){
    #icontainer {position: absolute;top: 30%;left:0%;width: 100%;height: 40%;}
    

}

@media only screen  and (max-width: 330px) and (max-height:500px){
    #icontainer {position: absolute;top: 5%;left:5%;width: 90%;height: 90%;}
    .reg-card_content{height: 70%;padding-top: 0%;overflow: scroll;}
    nav{height:0px;display: none;}
    #container{height: 100%;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;}
    #list_contacts{height: calc(100% - (50px));}
    .chat_c{height:70px}
    #contacts_header{height: 50px;}
    #left_list{height: calc(100% - (50px));;}
    #bottom_nav{height: 50px;}
    
}
@media only screen  and (max-width: 330px) and (min-height:500px) and (max-height:600px){
    #icontainer {position: absolute;top: 8%;left:5%;width: 90%;height: 84%;}
    .reg-card_content{height: 70%;padding-top: 0%;overflow: scroll;}
    .reg-card_content{overflow: scroll;}
    nav{height:0px;display: none;}
    #container{height: 100%;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;} 
    #list_contacts{height: calc(100% - (50px));}
    .chat_c{height:70px}
    #contacts_header{height: 50px;}
    #left_list{height: calc(100% - (50px));;}
    #bottom_nav{height: 50px;}

}
@media only screen  and (max-width: 330px) and (min-height:600px) and (max-height:700px){
    #icontainer {position: absolute;top: 8%;left:5%;width: 90%;height: 84%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;} 
    #list_contacts{height: calc(100% - (50px));}
    
    .chat_c{height:70px}
    #contacts_header{height: 50px;}
    #left_list{height: calc(100% - (50px));;}
    #bottom_nav{height: 50px;}

}
@media only screen  and (max-width: 330px) and (min-height:700px) and (max-height:1000px){
    #icontainer {position: absolute;top: 8%;left:5%;width: 90%;height: 84%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;} 
    #list_contacts{height: calc(100% - (50px));}
    .chat_c{height:70px}
    #contacts_header{height: 50px;}
    #left_list{height: calc(100% - (50px));;}
    #bottom_nav{height: 50px;}

}
@media only screen  and (max-width: 330px) and (min-height:1000px) and (max-height:1500px){
    #icontainer {position: absolute;top: 8%;left:5%;width: 90%;height: 84%;}
    nav{height:0px;display: none;}
    #container{height: 100%;top:0;}
    #right_container{display: none;}
    #main_container{display: none;}
    #left_container{width: 100%;height: 100%;} 
    #list_contacts{height: calc(100% - (50px));}
    .chat_c{height:70px}
    #contacts_header{height: 50px;}
    #left_list{height: calc(100% - (50px));;}
    #bottom_nav{height: 50px;}

}